@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");

body {
  overflow-x: hidden;
}

header {
  position: relative;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 784px;
  height: 24px;
  font-size: 18px;
  margin: 0;
  padding-left: 0.5em;
  border: 1px solid #C1C1C1;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.tt-hint[style] {
  background-color: white!important;
  color: #999 !important;/*#999*/
}

.tt-menu {
  width: 100%;
  max-height: 200px;
  margin-top: 0px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: auto;
}

.tt-suggestion {
  padding: 2px 8px;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  height: 30px;
}

.tt-cursor, .tt-suggestion:hover{
  background-color: lightblue;
  cursor: pointer;
}

.tt-highlight {
  font-weight: bold;
}

.twitter-typeahead {
  margin: 0;
  width: 100%; 
}

.twitter-typeahead input {
  padding-left: 2.2em;
}

.tt-input, .tt-suggestion, .tt-suggestion * {
  color: rgb(102, 102, 102) !important;
}

.search-container {
  display: inline-block;
  height: 59.52px;
}

.search-container, .search-container input{
  position: relative;
  width: 100%;
}

.search-container i {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 8px;
  font-size: 1.5em;
  color: darkgray;
}

a#location {
  display: inline-block; 
  position: relative;
}

#map {
  width: 100%;
  height: 360px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAAAAABzHgM7AAAAAnRSTlMAAHaTzTgAAAARSURBVHgBY3iKBFEAOp/+MgB+UQnYeBZPWAAAAABJRU5ErkJggg==');
}

#features-list, #json-query, #myOutput {
  width: 790px;
  margin-bottom: 10px;
  border: 1px grey solid;
}

.localized-error .show-localized-error,
.localized .show-localized,
.roof .show-roof,
.roof .show-thermie {
  display: block;
}


.localized .hidden-localized,
.localized-error .hidden-localized-error,
.show-localized,
.show-localized-error,
.show-roof,
.show-no-roof,
.show-no-roof-outside-perimeter,
.show-heat,
.show-heat-dg,
.is-loading .trn,
.roof .hide-thermie {
  display: none;
}

.no-roof .show-no-roof {
  display: block;
}

.no-roof-outside-perimeter .show-no-roof-outside-perimeter {
  display: block;
}

#PVbuttonText {
  white-space: normal;
  height: auto;
}

#thermiebuttonText {
  white-space: normal;
  height: auto;
}

/* Correction template */
#eig .container {
  width: 100% !important;
  margin: 20px; 
}

#eig .container > div {
  margin-right: 100px;
}

ul.actions.uniform li > a.button {
  height: auto;
  line-height: 2em;
  padding: 10px 0; 
}

ul.actions.uniform li > a.button > span {
  width: 100%;
  white-space: normal;
  padding: 0 5px;
}

.logo {
  border-right: 1px solid #e5e5e5;
  background: url('images/logo.jpg') no-repeat center left;
  width: 248px;
  height: 66px;
  padding-right: 20px;
}

#eignungSymbol {
    width: 180px;
    height: 195px;
}

.logoech {
  background: url('images/echlogo-de.png') no-repeat center left;
  width: 204px;
  height: 88px;
  padding-right: 20px;
  padding-top: 100px;
}

.amts {
  position: absolute;
  left: 268px;
  top: 25px;
  text-align: left;
  padding-left: 20px;
  min-width: 350px;
  font: bold 13px Arial, sans-serif !important;
}

.amt-abbr {
  display: none;
}

.arrows {
  padding-top: 1em;
  text-align: center;
}

.arrows a {
  border-bottom: none;
  cursor: pointer !important;
}

#lang {
  position: absolute;
  top: 0px;
  right: 0px;
}

#lang > a {
  text-decoration: none;
  border: none;
  padding: 0px 5px;
  font: normal 12px Arial, sans-serif !important;
}

.loading {
  background: transparent url('images/loader.gif') no-repeat scroll right center content-box !important;
  background-size: 25px;
}
.address-loading, .roof-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white url('images/loader.gif') no-repeat scroll center center content-box !important;
  background-size: 25px;
  display: none;
}

.ajax-address .address-loading,
.ajax-roof .roof-loading {
  display: block;
}


@media screen and (max-width: 736px) {
  #eig .container {
    margin: 0;
    height: 40px;
  }

  #lang {
    top: 6px;
  }

  .logo {
    width: 36px;
    height: 40px;
    padding: 0;
    background: url('images/logo.ch.small.png') no-repeat center center;
    background-size: 19px;
  }

  #eignungSymbol {
    width: 75px;
    height: 80px;    
  } 

  .logoech {
    width: 41px;
    height: 42px;
    padding: 0;
    background: url('images/logoechsmall.png') no-repeat center center;
    background-size: 19px;
  }

  .amts {
    top: 14px;
    left: 31px;
  }
  
  .amt {
    display: none;
  }
  
  .amt-abbr {
    display: block;
    font-size: 11px;
  }
  .button-location-it {
    font-size: 12px;
  }

} /* End media screen */

/* Openlayers elements css */
.ol-scale-line {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  bottom: 0;
  left: 8px;
  padding: 2px;
  position: absolute;
}

.ol-scale-line-inner {
  border: 2px solid #000;
  border-top: none;
  color: #333;
  font: bold 11px Arial,"Helvetica Neue",Helvetica,sans-serif;
  text-align: center;
  margin: 1px;
  line-height: 1em;
  will-change: contents, width;
}

.ol-overlay-container {
  will-change: left,right,top,bottom;
}

.ol-unsupported {
  display: none;
}

.ol-viewport .ol-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.ol-control {
  position: absolute;
  background-color: #eee;
  background-color: rgba(255,255,255,0.4);
  border-radius: 4px;
  padding: 2px;
}

.ol-control:hover {
  background-color: rgba(255,255,255,0.6);
}

.ol-zoom {
  top: .5em;
  left: .5em;
}

@media print {
  .ol-control {
    display: none;
  }
}

.ol-control button {
  display: block;
  margin: 1px;
  padding: 0;
  color: white !important;
  font-size: 1.14em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 1.375em;
  width: 1.375em;
  line-height: .4em;
  background-color: #333 !important;
  background-color: rgba(51, 51, 51, 0.4) !important;
  border: none;
  border-radius: 2px !important;
}

.ol-control button::-moz-focus-inner {
  border: none;
  padding: 0;
}

.ol-touch .ol-control button {
  font-size: 1.5em;
}

.ol-control button:hover,
.ol-control button:focus {
  text-decoration: none;
  background-color: #333 !important;
  background-color: rgba(51, 51, 51, 0.7) !important;
}

.ol-zoom .ol-zoom-in {
  border-radius: 2px 2px 0 0 !important;
}

.ol-zoom .ol-zoom-out {
  border-radius: 0 0 2px 2px !important;
}

.ol-attribution {
  text-align: right;
  bottom: .5em;
  right: .5em;
  max-width: calc(100% - 1.3em);
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1px 5px;
  color: black;
  font: normal 11px Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.ol-attribution ul {
  margin: 0;
  padding: 0 .5em;
  line-height: 1.375em;
  color: #000;
  max-width: none;
  text-shadow: none;
}

.ol-attribution li {
  display: inline;
  list-style: none;
  line-height: inherit;
}

.ol-attribution a {
  color: black !important;
  border: none;
}

.ol-attribution li:not(:last-child):after {
  content: "  |";
}

.ol-attribution ul, .ol-attribution button {
  display: inline-block;
}

.ol-attribution.ol-collapsed ul {
  display: none;
}

.ol-attribution:not(.ol-collapsed) {
  background: rgba(255, 255, 255, 0.8);
}

.ol-attribution.ol-uncollapsible {
  bottom: 0;
  right: 0;
  border-radius: 4px 0 0;
  height: auto;
  line-height: 1em;
}

.ol-attribution.ol-uncollapsible button {
  display: none;
}

.marker.ga-crosshair {
  width: 30px;
  height: 40px;
  background-image: url('images/marker.png');
}

.hide {
  display: none;
}
